<div class="row">
    {% for promo in promos %}
        <div class="col-md-3">
            <a href="{{ path('student_index', { 'promo': promo.id }) }}">
                <div class="card">
                    <div class="card-body text-dark text-center">
                        <p class="">
                            <span class="badge badge-warning float-right">{{ promo.langage }}</span>
                            <i class="fab fa-9x fa-{{ promo.langage|lower }}"></i>
                        </p>
                        <p class="card-text">{{ promo.name }}</p>
                    </div>
                    <p><a href="{{ path('promo_edit', { 'id': promo.id }) }}">Custom ta promo</a></p>
                </div>
            </a>
        </div>

    {% else %}
        <div class="col">
            <div class="alert alert-danger">Il n'y a pas encore de promotion pour cette école</div>
        </div>
    {% endfor %}
</div>
