<div class="row">
    {% if promos is not empty %}
        <div class="col-12">
            <h3>{{ promos.0.langage|title }}</h3>
        </div>
        {% set current_language = promos.0.langage|lower %}
        {% for promo in promos %}
            {% if promo.langage|lower != current_language %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>{{ promo.langage|title }}</h3>
                    </div>
                {% set current_language = promo.langage|lower %}
            {% endif %}
            <div class="col-md-3 mb-4 {{ promo.langage|lower }}">
                <div class="card">
                    <div class="card-body text-dark text-center">
                        <p class="">
                            <span class="badge badge-warning float-right">{{ promo.langage }}</span>
                            <i class="fab fa-9x fa-{{ promo.langage|lower }}"></i>
                        </p>
                        <p class="card-text">{{ promo.name }}</p>
                    </div>
                    <a  class="nav-link btn mx-5 cityButton active text-white btn-warning"
                        href="{{ path('student_index', { 'promo': promo.id }) }}">
                        Editer les livrets
                    </a>
                </div>

            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger">Il n'y a pas encore de promotion pour cette école</div>
            </div>
        </div>
    {% endif %}
</div>