{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="media my-3">
                <img class="mr-3" src="http://via.placeholder.com/150x150" alt="Student picture">
                <div class="media-body">
                    <h1 class="h3">{{ student.firstname }} {{ student.name|upper }}</h1>
                    <p class="col-4">
                        DateBirth: <span id="student_birth">{{ student.dateOfBirth|date("d/m/Y") }}</span>
                        <a href="#"><i id="birth_edit_button" class="fa fa-edit fa-lg text-dark"></i></a>
                        <span id="change_date" class="d-none">
                            <input id="date_picker" type="date">
                            <button data-action="{{ path('student_edit_birth', {'student': student.id}) }}" id="validate_date">Valider</button>
                            <br/>
                        </span>

                        Gender:
                        {% if student.gender == constant('AppBundle\\Entity\\Student::FEMALE') %}
                            Femme
                        {% elseif student.gender == constant('AppBundle\\Entity\\Student::MALE') %}
                            Homme
                        {% else %}
                            Undefined
                        {% endif %}
                        <br/>
                        PromoName: {{ student.promo.name }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col float-right">
            <div class="row">
                <p>
                    Version ECF:
                    {% if student.promo.ecfVersion == constant('AppBundle\\Entity\\Promo::ECF_PHP') %}
                        <span class="alert alert-success">Developpeur Web et Mobile PHP</span>
                    {% elseif student.promo.ecfVersion == constant('AppBundle\\Entity\\Promo::ECF_JS') %}
                        <span class="alert alert-success">Developpeur Web et Mobile JS</span>
                    {% elseif student.promo.ecfVersion == constant('AppBundle\\Entity\\Promo::ECF_JAVA') %}
                        <span class="alert alert-success">Developpeur Web et Mobile JAVA</span>
                    {% elseif student.promo.ecfVersion == constant('AppBundle\\Entity\\Promo::ECF_JS_JAVA') %}
                        <span class="alert alert-success">Developpeur Web et Mobile JS et JAVA</span>
                    {% endif %}
                </p>
            </div>
            <div class="row">
                <a class="btn btn-success" target="_blank" href="{{ path('downloadTemplate', {'promo': student.promo.id }) }}">Telecharger le template du livret ECF</a>
            </div>
        </div>
    </div>

    {{ form_start(edit_form) }}
    <div class="row">

        <div class="col">
            <div class="card mb-3">
                <div class="card-header h4 text-white bg-dark">
                    <p>Développer la partie front-end d’une application web ou web mobile en intégrant les recommandations de sécurité<button data-type="showMoreActivityTwo" type="button" class="showMore float-right btn btn-info">En savoir plus</button></p>
                </div>
                <div id="showMoreActivityTwo">
                    <ol>
                        <strong>Compétences:</strong>
                        <li>Maquetter une application</li>
                        <li>Réaliser une interface utilisateur web statique et adaptable</li>
                        <li>Développer une interface utilisateur web dynamique</li>
                        <li>Réaliser une interface utilisateur avec une solution de gestion de contenu ou e-commerce</li>
                    </ol>
                    <hr/>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        {{ form_row(edit_form.commActivityOne) }}
                        {{ form_row(edit_form.validateActivityOne) }}
                    </p>
                    <hr/>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3">
                <div class="card-header h4 text-white bg-dark">
                    <p>Développer la partie back-end d’une application web ou webmobile en intégrant les recommandations de sécurité<button data-type="showMoreActivityOne" type="button" class="showMore float-right btn btn-info">En savoir plus</button></p>
                </div>
                <div id="showMoreActivityOne">
                    <ol>
                        <strong>Competences</strong>
                        <li>Créer une base de données</li>
                        <li>Développer les composants d’accès aux données</li>
                        <li>Développer la partie back-end d’une application Web ou Web Mobile</li>
                        <li>Elaborer et mettre en œuvre des composants dans une application de gestion de contenu ou e-commerce</li>
                    </ol>
                    <hr/>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        {{ form_row(edit_form.commActivityTwo) }}
                        {{ form_row(edit_form.validateActivityTwo) }}
                    </p>
                    <hr/>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header h4 text-white bg-dark">Observation generale</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        {{ form_row(edit_form.observationStudent) }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header h4 text-white bg-dark">Sign student</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="row">
                        <div class="col">
                            {{ form_row(edit_form.sign) }}
                        </div>
                        {% if student.sign %}
                            <div class="col">
                                <p>Actual sign</p>
                                <img width="100" src="{{ asset('uploads/sign/' ~ student.sign) }}" alt="sign student">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row justify-content-center">
        <div class="col-6">
            <input class="btn btn-success btn-block btn-lg" type="submit" value="Edit"/>
        </div>
    </div>
    {{ form_end(edit_form) }}

    <hr/>
    <a class="btn btn-outline btn-outline-dark" href="{{ path('student_index', { 'promo': student.promo.id }) }}">Back to the
        list</a>

{% endblock %}

{% block javascripts %}
    <script>
        $('.showMore').click(function(e){
            e.preventDefault();
            let type = $(this).data('type');
            $('#' + type).slideToggle();
        });

        $('#birth_edit_button').click(function (e) {
            e.preventDefault();
            $('#change_date').removeClass();
            $('#validate_date').click(function () {
                let stringDate = $('#date_picker').val();
                let action = $('#validate_date').data('action');
                $.ajax({
                    url: action,
                    type: "POST",
                    data: {'date': stringDate},
                    success: function(response){
                        $('#student_birth').html(response);
                        $('#change_date').addClass('d-none');
                        alert('update success')
                    },
                    error: function(error){
                        console.log(error);
                        alert("update error, try again")
                    }
                })


            });

        })
    </script>
{% endblock %}