{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-1">
        <div class="col">
            <h1 class="h2 title">Promotion {{ promo.name }} <i class="fab fa-{{ promo.langage|lower }}"></i>
                - {{ promo.city }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Trainer: {{ promo.trainer }}
        </div>
        <div class="col">
            Sign Trainer:
            {% if promo.signTrainer %}
               <img width="100" src="{{ asset('uploads/sign/' ~ promo.signTrainer) }}" alt="Sign Trainer">
            {% else %}
                Undefined
            {% endif %}
        </div>
        <div class="col">
            Campus Manager:
            {% if promo.campusManager %}
                {{ promo.campusManager }}
            {% else %}
                Undefined
            {% endif %}
        </div>
        <div class="col">
            Sign CM:
            {% if promo.signCM %}
                <img width="100" src="{{ asset('uploads/sign/' ~ promo.signCM) }}" alt="Sign CM">
            {% else %}
                Undefined
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Addres:
            {% if promo.signCM %}
                {{ promo.adress }}
            {% else %}
                Undefined
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-4">
            {% if (promo.adress) == null or (promo.campusManager == null)%}
                <div class="alert alert-danger" role="alert">
                    <p><strong>Des informations sur la promotions manquent pour te permettre de telecharger les ECF</strong></p>
                    <p><a class="btn btn-primary btn-lg btn-block" href="{{ path('promo_edit', { 'id': promo.id }) }}">Custom ta promo</a></p>
                </div>
                <button class="btn btn-dark btn-lg btn-block" onclick='alert("Il faut que tu renseignes les infos sur ta promo")'
                   role="button"><i class="fa fa-download text-warning"></i> Telecharger le zip d'ecf</button>
            {% else %}
                <p><a class="btn btn-primary btn-lg btn-block" href="{{ path('promo_edit', { 'id': promo.id }) }}">Custom ta promo</a></p>
                <a class="btn btn-dark btn-lg btn-block" href="{{ path('generate_ecf', { 'promo': promo.id }) }}"
                role="button"><i class="fa fa-download text-warning"></i> Telecharger le zip d'ecf</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">


            <table class="table table-striped table-hover table-responsive">
                <thead class="bg-dark text-white">
                <tr>
                    <th>Edit</th>
                    <th>Download ECF</th>
                    <th>Name</th>
                    <th>Activity one</th>
                    <th>Eval supp one</th>
                    <th>Activity two</th>
                    <th>Eval supp two</th>
                    <th>Observation student</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <th>
                            <a class="btn btn-default"
                               href="{{ path('student_edit', { 'promo': promo.id, 'student': student.id }) }}"
                               role="button"><i class="fa fa-edit fa-lg text-dark"></i></a>
                        </th>
                        <th>
                            <a class="btn btn-default"
                               href="{{ path('generate_student_ecf', {'promo': promo.id, 'student': student.id }) }}"
                               target="_blank"
                               role="button"><i class="fas fa-download fa-lg text-dark"></i></a>
                        </th>
                        <td>{{ student.firstname }} {{ student.name|upper }}</td>
                        <td>
                            <i class="float-left mr-1 fas fa-{{ student.validateActivityOne ? 'check text-success' : 'times text-danger' }}"></i>
                            <p class="small text-muted">{{ student.commActivityOne|slice(1, 50) ~ '...' }}</p>
                        </td>
                        <td>
                            <i class="float-left mr-1 fas fa-{{ student.validateEvalSuppOne ? 'check text-success' : 'times text-danger' }}"></i>
                            <p class="small text-muted">{{ student.commEvalSuppOne|slice(1, 50) ~ '...' }}</p>
                        </td>
                        <td>
                            <i class="float-left mr-1 fas fa-{{ student.validateActivityTwo ? 'check text-success' : 'times text-danger' }}"></i>
                            <p class="small text-muted">{{ student.commActivityTwo|slice(1, 50) ~ '...' }}</p>
                        </td>
                        <td>
                            <i class="float-left mr-1 fas fa-{{ student.validateEvalSuppTwo ? 'check text-success' : 'times text-danger' }}"></i>
                            <p class="small text-muted">{{ student.commEvalSuppTwo|slice(1, 50) ~ '...' }}</p>
                        </td>

                        <td class="small">{{ student.observationStudent|slice(1, 50) ~ '...' }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
