{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>
    <table id="usersTable" class="display">
        <thead>
        <tr>
            <th>Id users</th>
            <th>Name</th>
            {#<th>Role</th>#}
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: red">
            <td>1111111</td>
            <td>Select all</td>
            {#<td>{{ dump(user.roles) }}</td>#}
            <td><input type="checkbox"></td>
        </tr>
        {% for user in users %}
            {% if user.roles|length == 1 %}
                <tr>
                    <td>{{ user._id }}</td>
                    <td>{{ user.name }}</td>
                    {#<td>{{ dump(user.roles) }}</td>#}
                    <td><input type="checkbox"></td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <button type="button" class="btn btn-danger">Delete all users</button>


    <h1>Staff</h1>
    <table id="staffTable" class="display">
        <thead>
        <tr>
            <th>Id users</th>
            <th>Name</th>
            {#<th>Role</th>#}
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            {% if user.roles|length > 1 %}
                <tr>
                    <td>{{ user._id }}</td>
                    <td>{{ user.name }}</td>
                    {#<td>{{ dump(user.roles) }}</td>#}
                    <td><input type="checkbox"></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-danger">Delete all users</button>

{% endblock %}

{% block javascripts %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function () {
            $('#usersTable').DataTable();
        } );
    </script>
    <script>
        $(document).ready( function () {
            $('#staffTable').DataTable();
        } );
    </script>

{% endblock %}